<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebStudy01</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>imageFolder</param-name>
    <param-value>d:/contents/images</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>ImageStreamingServlet</servlet-name>
  	<servlet-class>kr.or.ddit.servlet01.ImageStreamingServlet</servlet-class>
  	<load-on-startup>1</load-on-startup> <!-- init-param 다음에 나와야함 -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageStreamingServlet</servlet-name>
  	<url-pattern>/imageStreaming.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImageStreamingServletExam</servlet-name>
  	<servlet-class>kr.or.ddit.servlet01.ImageStreamingServletExam</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageStreamingServletExam</servlet-name>
  	<url-pattern>/test1129.do</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>2</session-timeout>
  </session-config>
  
  <error-page>
  	<error-code>500</error-code> <!-- 500 에러가 발생하는 상황을 전문적으로 처리할 수 있는 페이지를 만들겠어 -->
	<location>/errors/error500.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>404</error-code> <!-- 404 에러가 발생하는 상황을 전문적으로 처리할 수 있는 페이지를 만들겠어 -->
	<location>/errors/error404.jsp</location>
  </error-page>
  
  <error-page> <!-- NullPointerException 하나만 처리할 수 있는 에러페이지 -->
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/errors/errorNull.jsp</location>
  </error-page>
</web-app>